* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.logo > a {
    color: #F9FAF8;;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    color: gold;
}

.logo > a:hover {
    color: gold;
}

.container1 {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.container1 > a {
    font-size: 18px;
}

.awesome {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 25px;
    gap: 10px;

}

.awesome > a {
    color:white;
}

.placeholder {
    border: 2px solid whitesmoke;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
}

.placeholder > a {
    color: white;
}


button {
    width: 95px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border-radius: 28px;
    border-style:none;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}


.big-one {
    font-size: 48px;
    font-weight: bolder;
    line-height: .920;

}


.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    height: 300px;
    padding-bottom: 30px;
}

.container2 > a {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 20px;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.box {
    display: flex;
    border: 2px solid red;
    height: 150px;
    width: 250px;
}

.box-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 250px;
    gap: 1rem;
}



.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:300px;
    background-color: #E5E7EB;    
}

.quote {
    display: inline-flex;
    font-size: 25px;
    width: 350px
}

.by-thor {
    font-size: 15px;
    font-weight: bold;
    display: inline-flex;
    justify-content: flex-end;
    width: 350px;
}





/* Experimental responsive code */
/* It is NOT a good idea to put band-aids on broken code. */
/* I am just testing how I could fix this mess amd surprisingly it works  */


@media only screen and (max-width: 1024px) {
    .placeholder {
        width: 40%;
    }

    .boxes {
        scale: 75%;
    }

    .container2 > a {
        padding-top: 0px;
        margin-top: 25px
    }
}




.container4 {
    display: flex;
    flex-direction: row;
    background-color:#1F2937;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 20px;
    width: 650px;
    gap: 9rem;
}

.container4 > .text {
    flex-direction: column;
    color: white;
}


.last-container {
    display: flex;
    height: 230px;
    align-items: center;
    justify-content: center;
    background-color: white;
}


footer {
    background-color:#1F2937;
    text-align: center;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}