* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.logo > a {
    color: #F9FAF8;;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    color: gold;
}

.logo > a:hover {
    color: gold;
}

.container1 {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.container1 > a {
    font-size: 18px;
}

.awesome {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 25px;

}

.awesome > a {
    color:white;
}

.placeholder {
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
}

.placeholder > a {
    color: white;
}


button {
    width: 95px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border-radius: 28px;
}

.big-one {
    font-size: 48px;
    font-weight: bolder

}